body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

img{
    display: block;
}

*{
    text-decoration: none;
    list-style: none;
}

*::after,
*::before{
    box-sizing: border-box;
}



ul{
    margin: 0;
    padding-left: 0;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.logos{
    display: flex;
    gap: 24px;
}

.logos-box{
    width: calc((100% - 72px) / 4);
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header-class{
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display: flex;
    align-items: center;
}

/*logo start*/

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd
}

.logo-studio {
    color: #2e2f42;
}

/*logo end*/

/*navigations start*/

.website{
position: relative;
display: inline-block;
}

.website::after{
content: "";
position: absolute;
width: 48px;
height: 4px;
border-radius: 2px;
background-color: #404BBF;
bottom: -20px;
left: 50%;
transform: translateX(-50%);
}

.studio-nav{
display: flex;
gap: 40px;
padding: 24px 0;
}

.navig{
    display: flex;
    align-items: center;
}

.navigation {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigation:hover{
    color: #404bbf;
}

.navigation:focus{
    color: #404bbf;
}

.contacts{
    font-style: normal;
    margin-left: auto;
}

.contact-list{
    display: flex;
    gap: 40px;
}

.contacts-info {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-info:hover{
    color: #404bbf;
}

.contacts-info:focus {
    color: #404bbf;
}

/*navigations end*/

/*main page start*/
.section-one{
    background-image: linear-gradient(rgba(47, 46, 66, 0.7)) , url("../images/people-office\ 1-min.jpg");
    padding: 188px 0;
    background-repeat:  no-repeat;
    background-size: cover;
}

.section-two{
    padding: 120px 0;
}

.section-three{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-four{
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    font-style: bold;
    max-width: 496px;
    margin: 0 auto 48px;
}

.main-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.main-button:hover{
    background-color: #404BBF
}

.main-button:focus{
    background-color: #404BBF
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   clip-path: inset(100%);
}

.four-text{
    display: flex;
    gap: 24px;
}

.text-list{
    width: calc((100% - 72px) / 4);
}

.title-secondary {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.title-secondary-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*main page end*/

/*our team start*/

.team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team{
    display: flex;
    gap: 24px;
}

.team-container{
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.16);
}

.names{
    padding: 32px 0;
}

.team-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px
}

.team-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
}

.social{
    display: flex;
    gap: 24px;
    margin: 8px 16px 32px 16px;
}

.social-media{
background-color: #4d5ae5;
width: 40px;
height: 40px;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
}

/*our team end*/

/*our portfolio start*/

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-title-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-title-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.wrap-list{
    display:flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.wrap-list-item{
    width: calc((100% - 48px) / 3);
}


.portfolio-kind{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.photo{
position: relative;
overflow: hidden;
box-shadow: none;
transition-property: box-shadow;
}

.overlay{
    position: absolute;
    padding: 8px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo:hover .overlay{
    transform: translateY(0);
}

.photo:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08)
}

/*our portfolio end*/

/*footer start*/

.full-footer{
    background-color: #2e2f42;
    padding: 100px 0;
    display: flex;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.logo-footer-main{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.media-title{
color: #fff;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.socialist{
margin-left: 0;
margin-right: 692px;
width: 208px;
}


.logo-foot-div{
    margin: 0 120px 0 156px;
}

.media-logos{
    display: flex;
    gap: 16px;  
    margin-top: 16px;
}

/*footer end*/
